#define APSTUDIO_READONLY_SYMBOLS
#define APSTUDIO_HIDDEN_SYMBOLS
#include "Windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS

#undef APSTUDIO_READONLY_SYMBOLS
//////////////////////////////////////////////////////////////////////////////
//
// Default Language
//

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL // Language neutral

//////////////////////////////////////////////////////////////////////////////
//
// ICON : Icon
//

IDI_ICON1 ICON "GUI_n2n.ico"

//////////////////////////////////////////////////////////////////////////////
//
// VERSIONINFO : VersionInfo
//

1 VERSIONINFO
  FILEVERSION 1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK 0x3FL
  FILEFLAGS 0x0L
  FILEOS 0x30004L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo" BEGIN
    BLOCK "040904B0" BEGIN
      VALUE "OriginalFilename", "n2n_gui.exe"
      VALUE "LegalCopyright", "Copyright \xA9 2018 QtN2N GUI"
      VALUE "ProductVersion", "1,0,0,0"
      VALUE "ProductName", "QtN2N GUI"
      VALUE "FileDescription", "QtN2N GUI"
      VALUE "CompanyName", "QtN2N GUI"
      VALUE "InternalName", "QtN2N GUI"
      VALUE "FileVersion", "1,0,0,0"
    END
  END
  BLOCK "VarFileInfo" BEGIN
    VALUE "Translation", 0x0409, 1200 // English (United States)
  END
END


#ifdef APSTUDIO_INVOKED

//////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
  "\0"
END

2 TEXTINCLUDE
BEGIN
  "#define APSTUDIO_HIDDEN_SYMBOLS\r\n",
  "#include ""Windows.h""\r\n",
  "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
END

3 TEXTINCLUDE
BEGIN
  "\0"
END

#endif    // APSTUDIO_INVOKED


//////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//

#ifndef APSTUDIO_INVOKED

#endif    // not APSTUDIO_INVOKED
//
//////////////////////////////////////////////////////////////////////////////

